<header>
    <img ng-click="dataBoxClick()" class="nuvi" src="images/nuvi-logo.png"/>
    <p class="realTimeSocialMedia">Real-time social media data visualizations</p>
</header>
<div ng-hide="subheader" class="subheader">
    <div class="providerFilter" ng-click="sortBy('provider')"><i class="fa fa-filter" aria-hidden="true"></i> Provider</div>
    <div class="likesFilter" ng-click="sortBy('activity_likes')"><i class="fa fa-filter" aria-hidden="true"></i> Likes</div>
    <div class="sentimentFilter" ng-click="sortBy('activity_sentiment')"><i class="fa fa-filter" aria-hidden="true"></i> Sentiment</div>
</div>
<div class="dataWrapper1">
    <div class="itemWrapper2" ng-repeat="item in data | orderBy:propertyName:reverse" ng-click="dataCircleClick($index)" ng-show="dataCircle">
        <div class="rowWrapper"><img class="avator" ng-src={{item.actor_avator}}/>
            <div class="columnWrapper">
              <div ng-if="data">
                <data></data>
              </div>
                <p class="columnProvider"><img class="landingPageProvider" src = "images/facebook.png"</p>
                  <p class="landingPageLikeNumber"><img class="smallLikeButton" src="images/likebutton.png" />{{item.activity_likes}}</p>
                    <img class="sentimentImage" src="images/smile.png" />
                </div>
            </div>
        </div>
        <div class="itemWrapper0" ng-hide="dataBox">
            <div class="itemWrapper1">
                <div class="firstRowWrapper">
                    <div class="identityWrapper">
                        <img ng-click="dataBoxClick()" ng-src="{{data2.actor_avator}}"/>
                        <div class="nameUsernameWrapper">
                            <p class="name">{{data2.actor_name}}</p>
                            <p class="username">{{data2.actor_username}}</p>
                        </div>
                    </div>
                    <p class="actorDescription">{{data2.actor_description}}</p>
                </div>
                <div class="imageMessage">
                    <div class="providerName">{{data2.provider}}</div>
                    <div class="message3">
                        {{data2.activity_message}}</div>
                    <img class="attachment" src="{{data2.activity_attachment ||'images/noimage2.png'}}"/>
                </div>
                <div class=linkDate>
                    <a href="#">
                        <p><img class="linkImage" ng-src="images/link2.svg"/>
                            {{data2.activity_url}}</p>
                    </a>
                    <p class=date>{{data2.activity_date | date:'mediumDate'}}</p>
                </div>
                <div class="likeSharesComments">
                    <div class="likeButton" ng-click="countLikes(data2.activity_likes)">
                        <img ng-src="images/likebutton.png"/>
                        <p class="hideLike"></p>
                        <p class="otherData">{{likes}}
                            </p>
                    </div>
                    <div class="shares" ng-click="countShares(data2.activity_shares)">
                        <img class="shareImage" ng-src="images/share.svg.png"/>
                        <p>
                            {{shares}}</p>
                    </div>
                    <div class="comments">
                        <img class="commentsImage" ng-src="images/comments.svg.png"/>
                        <p>{{comments}}</p>

                    </div>

                </div>

            </div>
            <form>
                <form>
                    <div class="commentButtonContainer">
                        <textarea ng-model="textComment" placeholder="Your Comment"></textarea>
                        <button ng-click='commentButtonClick(data2.activity_comments)'>Post</button>
                    </div>
                </form>
            </form>
        </div>
    </div>
