@import 'https://fonts.googleapis.com/css?family=Montserrat';
@import 'https://fonts.googleapis.com/css?family=Open+Sans';
body {
  background: #545454;
}
header {
  background-color: #545454;
  width: auto;
  height: 150px;
}
header img {
  padding-top: 30px;
  margin-left: 40%;
  cursor: pointer;
}
.realTimeSocialMedia {
  text-align: center;
  margin-right: 24px;
  margin-top: 10px;
  font-family: 'Open Sans', sans-serif;
  color: #53C6DD;
}
.subheader {
  display: flex;
  justify-content: space-around;
  margin-bottom: 33px;
  font-family: 'Open Sans', sans-serif;
  color: #83C05A;
}
.subheader :hover {
  font-weight: 900;
  color: #689948;
}
.providerFilter {
  cursor: pointer;
}
.likesFilter {
  cursor: pointer;
}
.sentimentFilter {
  cursor: pointer;
}
.dataWrapper1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
}
.itemWrapper1 {
  width: 600px;;
  height:auto;
  /*border: solid #424242 thin;*/
  background: gray;
  box-shadow: 5px 4px 4px black;
  border-radius: 25px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}
.itemWrapper2 {
  border: solid white thin;
  background: #696969;
  box-shadow: 2px 2px 2px black;
  width: 110px;
  height:90px;
  margin-bottom: 15px;
  margin-right: 10px;
  cursor: pointer;
  padding-right: 10px;
}
.rowWrapper {
  display: flex;
  justify-content: space-between;
}
.landingPageProvider {
  width: 20px;
  height: 20px;
}
.twitterImage {
  background-image: url(../images/twitter.png);
}
.columnWrapper {
  margin-top: 8px;
  color: #53C6DD;
  display: flex;
  flex-direction: column;
}
.columnWrapper p {
  padding-bottom: 8px;
}
.columnProvider {
  font-weight: 800;
  color: #83C05A;
}
.smallLikeButton {
  width: 15px;
  height: 15px;
}
.landingPageLikeNumber {
  font-size: 9px;
}
.sentimentImage {
  width: 20px;
  height: 20px;
}
.facebook {
  border: solid blue thin;
}
.avator {
  height: 50px;
  width: 50px;
  margin-left: 8px;
  margin-top: 14px;
}
.firstRowWrapper {
  display: flex;
}
.identityWrapper {
  display: flex;
  justify-content: flex-start;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  width: 55%;
  height: 25%;
  border: black solid thin;
  border-left: none;
  border-right: none;
  border-top: none;
}
.identityWrapper img {
  width: 50px;
  height: 50px;
  background: #fafafa;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 5px;
}
.nameUsernameWrapper {
  margin-top: 10px;
  margin-left: 10px;
}
.name {
  margin-bottom: 3px;
}
.username {

}
.actorDescription {
  width: 45%;
  padding-top: 20px;
  border: black solid thin;
  border-top: none;
  border-right: none;
  border-left: none;
}
.providerName {
  margin-top: 21px;
}
.message3 {
  width: 60%;
  padding-top: 20px;
  padding-left: 10px;
  color: black;
}
.imageMessage {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 40px;
}
.message2 {
  width: 50px;
  height: 50px;
}
.attachment {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  border-radius: 5px;
}
a {
  text-decoration: none;
  color: #83C05A;
}
.linkDate {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.linkImage {
  width: 13px;
  height: 13px;
  background: transparent;
  margin-left: 10px;
}
.date {
  margin-left: 10px;
}
.activityUrlDate {
  display: flex;
  justify-content: space-between;
}
.likeSharesComments {
  display: flex;
  justify-content: space-around;
  height: auto;
  border-left: none;
  margin-top: 45px;
}
.likeButton {
  display: flex;
}
.likeButton img {
  width: 30px;
  height: 30px;
  margin-top: -15px;
  margin-right: 3px;
  cursor: pointer;
}
.shares {
  display: flex;
}
.shareImage {
  width: 30px;
  height: 30px;
  margin-top: -12px;
  cursor: pointer;
}
.comments {
  display: flex;
}
.commentsImage {
  width: 30px;
  height: 30px;
  margin-top: -13px;
  margin-right: 3px;
}
textarea {
  width: 250px;
  height: 40px;
  margin-top: 30px;
  border-radius: 10px;
  text-decoration: none;
  box-shadow: 4px 3px 3px black;
  background: gray;
    resize: none;
    outline: none;
}
::-webkit-input-placeholder {
  color: black;
}
::-moz-placeholder {
  color: black;
}
.commentButtonContainer {
  display: flex;
  flex-direction: column;
  margin-left: 58%;
  margin-top: -20px
}
form button {
  width: 40px;
  height: 20px;
  background: gray;
  border:black thin solid;
  border-radius: 5px;
  margin-left: 84%;
  margin-top: 10px;
  box-shadow: 2px 1px 1px black;
}
button:focus {outline:0;}
button:active {
    vertical-align: top;
    margin-top: 12px;
    margin-left: 85%;
}
