@import 'https://fonts.googleapis.com/css?family=Montserrat';
body {
  background-color: #2a2a2a;
}
header {
  background-color: #2a2a2a;
  width: auto;
  height: 150px;
}
header p {
  color: #53C6DD;
  font-family: 'Montserrat', sans-serif;
  font-size: 7rem;
  text-align: center;
  padding-top: 10px;
  /*border: solid #424242 thick;*/
  border-bottom: none;
}
.dataWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.itemWrapper1 {
  width: 37vw;
  height:31vh;
  border: solid #424242 thin;
  margin-bottom: 30px;
  background: #bdbdbd;
  box-shadow: 10px 5px 5px black;
}
.itemWrapper2 {
  border: solid white thin;
  border-radius: 100%;
  width: 70px;
  height:70px;
  margin-bottom: 30px;
  margin-right: 10px;
  cursor: pointer;
}
.firstRowWrapper {
  display: flex;
}
.identityWrapper {
  display: flex;
  justify-content: flex-start;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  width: 55%;
  height: 25%;
  border: black solid thin;
  border-right: none;
}
.identityWrapper img {
  width: 50px;
  height: 50px;
  background: #fafafa;
  cursor: pointer;
}
.nameUsernameWrapper {
  margin-top: 10px;
  margin-left: 10px;
}
.name {

}
.username {

}
.actorDescription {
  width: 45%;
  padding-top: 20px;
  border: black solid thin;
  border-left: none;
}
.message {
  width: 100%;
  padding-top: 20px;
  padding-left: 10px;
}
.images {
  display: flex;
  justify-content: space-around;
}
.message2 {
  width: 50px;
  height: 50px;
}
.attachment {
  width: 50px;
  height: 50px;
}
.activityUrlDate {
  display: flex;
  justify-content: space-between;
}
.likeSharesComments {
  display: flex;
  justify-content: space-around;
  height: auto;
  border-left: none;
  padding-top: 22px;
}
.likeButton {
  display: flex;
}
.likeButton img {
  width: 30px;
  height: 30px;
  margin-top: -15px;
  margin-right: 3px;
  cursor: pointer;
}
.shares {
  display: flex;
}
.shareImage {
  width: 30px;
  height: 30px;
  margin-top: -12px;
  cursor: pointer;
}
.comments {
  display: flex;
}
.shareComments {
  width: 30px;
  height: 30px;
  margin-top: -13px;
  margin-right: 3px;
  cursor: pointer;
}
/*.provider {
  color: #53C6DD;
  font-family: 'Montserrat', sans-serif;
  font-size: 70px;
  text-align: center;
  margin-top: 20px;
}
.commentLikeContainer {
  display: flex;
  justify-content: space-around;
  margin-left: -85px;
}
.comment {
  text-align: center;
  margin-top: 20px;
}
.label {
  color: #83C05A;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}
textarea {
  margin-top: 5px;
  width: 300px;
  height: 100px;
  margin-bottom: 5px;
}
.commentNumberSubmitContainer {
  display: flex;
  justify-content: space-between;
}
.otherData {
  color: #FAFAFA;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}
input[type="text"], textarea, select {
    outline: none;
    font-size: 15px;
}
.containerForYourComment {
  margin-top: 20px;
}
.labelForComment {
  color: #83C05A;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  margin-bottom: 5px;
  margin-left: 85px;
}
.yourCommentBox {
  width: 300px;
  height: 110px;
  background: #FAFAFA;
  padding-top: 10px;
  overflow: auto;
  margin-right: 200px;
  padding-left: 5px;
}
.yourActualComment {
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
}
.likeButton {
  margin-left: -100px;
}
.likeLabel {
  color: #83C05A;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 5px;
}
.likeLabel2 {
  color: #83C05A;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  margin-left: 20px;
}
.likeButton:hover {
  cursor: pointer;
}
.messageAttachmentContainer {
  margin-top: 40px;
  width: 100vw;
  display: flex;
  justify-content: space-around;
}
.activityMessageLabel {
  color: #83C05A;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
}
.activityAttachmentLabel {
  color: #83C05A;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
}
.otherDataContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}
.activityMessage {
  color: #FAFAFA;
  font-size: 20px;
}*/
