@import 'https://fonts.googleapis.com/css?family=Montserrat';
@import 'https://fonts.googleapis.com/css?family=Open+Sans';
.loader {
  position: fixed;
	width: 100%;
	height: 100%;
	z-index: 9999;
  background-color: #545454;
}
.loader p {
  text-align: center;
  margin-top: 8%;
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
  color: #83C05A;
  margin-right: 30px;
  margin-left: 30px;
}
.gif{
  margin-left: 47%;
  margin-top: 5%;
  width: 50px;
  height: 50px;
}
.loader img {
  opacity: 0.7;
}
.comics {
  display: flex;
  justify-content: center;
  margin-top: 4%;
}
body {
  background: #545454;
}
header {
  background-color: #545454;
  width: auto;
  height: 150px;
}
header img {
  padding-top: 30px;
  /*border: solid #424242 thick;*/
  margin-left: 40%;
  cursor: pointer;
}
.subheader {
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
  font-family: 'Open Sans', sans-serif;
  color: #83C05A;
}
.providerFilter {
  cursor: pointer;
}
.likesFilter {
  cursor: pointer;
}
.sentimentFilter {
  cursor: pointer;
}
.dataWrapper1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
}
/*.dataWrapper3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-family: 'Open Sans', sans-serif;
}*/
.itemWrapper1 {
  width: 600px;;
  height:auto;
  /*border: solid #424242 thin;*/
  background: gray;
  box-shadow: 10px 5px 5px black;
  border-radius: 25px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}
.itemWrapper2 {
  border: solid white thin;
  width: 155px;
  height:70px;
  margin-bottom: 30px;
  margin-right: 10px;
  cursor: pointer;
}
.rowWrapper {
  display: flex;
}
.columnWrapper {
  margin-top: 12px;
  color: #53C6DD;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.facebook {
  border: solid blue thin;
}
.circleAvator {
  height: 50px;
  width: 50px;
  margin-left: 8px;
  margin-top: 5px;
}
.firstRowWrapper {
  display: flex;
}
.identityWrapper {
  display: flex;
  justify-content: flex-start;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  width: 55%;
  height: 25%;
  border: black solid thin;
  border-left: none;
  border-right: none;
  border-top: none;
}
.identityWrapper img {
  width: 50px;
  height: 50px;
  background: #fafafa;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 5px;
}
.nameUsernameWrapper {
  margin-top: 10px;
  margin-left: 10px;
}
.name {
  margin-bottom: 3px;
}
.username {

}
.actorDescription {
  width: 45%;
  padding-top: 20px;
  border: black solid thin;
  border-top: none;
  border-right: none;
  border-left: none;
}
.providerName {
  margin-top: 21px;
}
.message3 {
  width: 60%;
  padding-top: 20px;
  padding-left: 10px;
  color: black;
}
.imageMessage {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 40px;
}
.message2 {
  width: 50px;
  height: 50px;
}
.attachment {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  border-radius: 5px;
}
a {
  text-decoration: none;
  color: #83C05A;
}
.linkDate {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.linkImage {
  width: 13px;
  height: 13px;
  background: transparent;
  margin-left: 10px;
}
.date {
  margin-left: 10px;
}
.activityUrlDate {
  display: flex;
  justify-content: space-between;
}
.likeSharesComments {
  display: flex;
  justify-content: space-around;
  height: auto;
  border-left: none;
  margin-top: 45px;
}
.likeButton {
  display: flex;
}
.likeButton img {
  width: 30px;
  height: 30px;
  margin-top: -15px;
  margin-right: 3px;
  cursor: pointer;
}
.shares {
  display: flex;
}
.shareImage {
  width: 30px;
  height: 30px;
  margin-top: -12px;
  cursor: pointer;
}
.comments {
  display: flex;
}
.commentsImage {
  width: 30px;
  height: 30px;
  margin-top: -13px;
  margin-right: 3px;
}
textarea {
  width: 250px;
  height: 40px;
  margin-top: 30px;
  border-radius: 10px;
  text-decoration: none;
  box-shadow: 10px 5px 5px black;
  background: gray;
    resize: none;
    outline: none;
}
::-webkit-input-placeholder {
  color: black;
}
::-moz-placeholder {
  color: black;
}
.commentButtonContainer {
  display: flex;
  flex-direction: column;
  margin-left: 58%;
  margin-top: -20px
}
form button {
  width: 40px;
  height: 20px;
  background: gray;
  border:black thin solid;
  border-radius: 5px;
  margin-left: 84%;
  margin-top: 10px;
  box-shadow: 5px 5px 5px black;
}
button:focus {outline:0;}
button:active {
    vertical-align: top;
    margin-top: 12px;
    margin-left: 85%;
}
/*.provider {
  color: #53C6DD;
  font-family: 'Montserrat', sans-serif;
  font-size: 70px;
  text-align: center;
  margin-top: 20px;
}
.commentLikeContainer {
  display: flex;
  justify-content: space-around;
  margin-left: -85px;
}
.comment {
  text-align: center;
  margin-top: 20px;
}
.label {
  color: #83C05A;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}
textarea {
  margin-top: 5px;
  width: 300px;
  height: 100px;
  margin-bottom: 5px;
}
.commentNumberSubmitContainer {
  display: flex;
  justify-content: space-between;
}
.otherData {
  color: #FAFAFA;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}
input[type="text"], textarea, select {
    outline: none;
    font-size: 15px;
}
.containerForYourComment {
  margin-top: 20px;
}
.labelForComment {
  color: #83C05A;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  margin-bottom: 5px;
  margin-left: 85px;
}
.yourCommentBox {
  width: 300px;
  height: 110px;
  background: #FAFAFA;
  padding-top: 10px;
  overflow: auto;
  margin-right: 200px;
  padding-left: 5px;
}
.yourActualComment {
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
}
.likeButton {
  margin-left: -100px;
}
.likeLabel {
  color: #83C05A;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 5px;
}
.likeLabel2 {
  color: #83C05A;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  margin-left: 20px;
}
.likeButton:hover {
  cursor: pointer;
}
.messageAttachmentContainer {
  margin-top: 40px;
  width: 100vw;
  display: flex;
  justify-content: space-around;
}
.activityMessageLabel {
  color: #83C05A;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
}
.activityAttachmentLabel {
  color: #83C05A;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
}
.otherDataContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}
.activityMessage {
  color: #FAFAFA;
  font-size: 20px;
}*/
